<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recuperación de clave</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
  <!-- Barra superior -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <h1 class="navbar-brand fs-3 p-0">Recuperación de clave</h1>
    </div>
  </nav>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Ingrese su correo</h2>
          </div>
          <div class="card-body">
            <form id="passwordRecoverForm" onsubmit="submitForm()">
              <div class="mb-3">
                <label for="email" class="form-label">Correo:</label>
                <input type="text" class="form-control" id="email" name="email" required />
              </div>
              <div class="text-center">
                <button class="btn btn-secondary" onclick="window.location.href='./login'">Regresar</button>
                <button type="button" class="btn btn-primary" onclick="submitForm()">Enviar correo</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function submitForm() {
      let form = document.getElementById("passwordRecoverForm");
      let formData = new FormData(form);

      let email = formData.get("email");
      
      fetch("./password-recover", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ email}),
      })
        .then(response => {
          if (response.ok) {
            alert("¡Correo enviado!");
            form.reset();
          } else {
            alert("Hubo un error al enviar el correo");
          }
        })
        .catch(error => {
          console.error("Error:", error);
        });
    }
  </script>
</body>

</html>