<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Password Change</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Blanqueo de clave</h2>
          </div>
          <div class="card-body">
            <form id="passwordChangeForm" onsubmit="submitForm()">
              {{#if user}}
              <div class="mb-3">
                <label for="email" class="form-label">Usuario:</label>
                <input type="text" class="form-control" id="email" name="email" required value="{{user.email}}" readonly />
              </div>
              {{else}}
              <div class="mb-3">
                <label for="email" class="form-label">Usuario:</label>
                <input type="text" class="form-control" id="email" name="email" required />
              </div>
              {{/if}}
              <div class="mb-3">
                <label for="password" class="form-label">Clave:</label>
                <input type="password" class="form-control" id="password" name="password" required />
              </div>
              <div class="mb-3">
                <label for="repeat-password" class="form-label">Repetir clave:</label>
                <input type="password" class="form-control" id="repeat-password" name="repeat-password" required />
              </div>
              <div class="text-center">
                <button class="btn btn-secondary" onclick="window.location.href='./login'">Regresar</button>
                <button type="button" class="btn btn-primary" onclick="submitForm()">Restaurar clave</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function submitForm() {
      let form = document.getElementById("passwordChangeForm");
      let formData = new FormData(form);

      let email = formData.get("email");
      let password = formData.get("password");
      let repeatPassword = formData.get("repeat-password");

      if (password !== repeatPassword) return alert("Las contraseñas no coinciden. Por favor, inténtalo de nuevo."); 

      fetch("/api/sessions/password-change/1125421", {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ email, password }),
      })
        .then(response => {
          if (response.ok) {
            alert("Contraseña cambiada con éxito.");
            form.reset();
            window.location.href = './api/sessions/';
          } else {
            alert("Hubo un error al cambiar la contraseña.");
          }
        })
        .catch(error => {
          console.error("Error:", error);
        });
    }
  </script>
</body>

</html>